#container {
  width: 200px;
  margin: 0 auto;
  background: #f46768;
  padding: 10px 20px 10px 20px;
  border-radius: 12px; }
  #container input[type="text"] {
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: right;
    width: 200px;
    background: #ea6060;
    border-radius: 22px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px; }
  #container .row {
    display: block; }
    #container .row input[type="button"] {
      background: none;
      border: none;
      color: #fff;
      width: 46px;
      height: 46px; }
    #container .row input[type="button"].answer {
      background: #fff;
      color: #f46768;
      border-radius: 2px;
      border-radius: 23px; }
